<h1><%= @meetup[:title]%></h1>



<table>
  <tr>
    <td><%= @meetup[:description] %></td>
  </tr>
  <tr>
    <td><%= @meetup[:city] %></td>
  </tr>
  <tr>
    <td><%= @meetup[:created_at] %></td>
  </tr>
</table>
